<% layout('layouts/boilerplate-oltranz') %>

<div class="row">
  <div class="col-lg-6 col-xl-6 mb-md-3 mb-lg-3">
    <%- include('./partials/createflash.ejs') %>
    <div class="card shadow">
      <div class="card-body">

        <div class="d-flex flex-row justify-content-between">
          <h1 class="text-start fs-2 mb-2 fw-medium"><%= title %> SMS Schedule</h1>
          <div data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Click for Instructions">
            <button type="button" class="btn btn-outline-primary rounded" data-bs-toggle="modal" data-bs-target="#instructionsModal">
              <i class="bi bi-person-raised-hand"></i>
            </button>
          </div>
          <!-- Modal -->
          <%- include('./modals/instructionsOltranz.ejs') %>

        </div>
        <p class="text-start">Schedule SMS to be sent at a later time</p>
        <form action="/oltranz" method="post" class="mt-3">
          <div class="form-group mb-2">
            <div class="d-flex flex-row justify-content-between">
              <label class="mb-2 fw-bold">Set Day</label>
              <label class="mb-2 fw-bold">Current Day & Time: <span class="fst-italic fw-light" id="currentDay"></span></label>
            </div>

            <div class="row">
              <div class="col text-center">
                <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                  <input class="btn-check" type="checkbox" autocomplete="off" name="day" value="0" id="sunday" />
                  <label class="btn btn-outline-primary days" for="sunday">Sunday</label>

                  <input class="btn-check" type="checkbox" autocomplete="off" name="day" value="1" id="monday" />
                  <label class="btn btn-outline-primary days" for="monday">Monday</label>

                  <input class="btn-check" type="checkbox" autocomplete="off" name="day" value="2" id="tuesday" />
                  <label class="btn btn-outline-primary days" for="tuesday">Tuesday</label>

                  <input class="btn-check" type="checkbox" autocomplete="off" name="day" value="3" id="wednesday" />
                  <label class="btn btn-outline-primary days" for="wednesday">Wednesday</label>

                  <input class="btn-check" type="checkbox" autocomplete="off" name="day" value="4" id="thursday" />
                  <label class="btn btn-outline-primary days" for="thursday">Thursday</label>

                  <input class="btn-check" type="checkbox" autocomplete="off" name="day" value="5" id="friday" />
                  <label class="btn btn-outline-primary days" for="friday">Friday</label>

                  <input class="btn-check" type="checkbox" autocomplete="off" name="day" value="6" id="saturday" />
                  <label class="btn btn-outline-primary days" for="saturday">Saturday</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group mb-2">
            <label class="mb-2 fw-bold" for="interval">Interval</label>
            <select id="interval" name="interval" class="form-control">
              <option value="" disabled selected>Choose Interval</option>
              <option value="1">1 minute(s)</option>
              <option value="2">2 minute(s)</option>
              <option value="5">5 minute(s)</option>
              <option value="60">1 hour(s)</option>
              <option value="120">2 hour(s)</option>
              <option value="180">3 hour(s)</option>
              <!-- Add more options as needed -->
            </select>
          </div>
          <div class="form-group mb-2">
            <label class="mb-2 fw-bold" for="startTime">Start Time</label>
            <input type="time" id="startTime" name="startTime" class="form-control" />
          </div>

          <div class="form-group mb-2">
            <label class="mb-2 fw-bold" for="endTime">End Time</label>
            <input type="time" id="endTime" name="endTime" class="form-control" />
          </div>

          <div class="form-group mb-2">
            <label class="mb-2 fw-bold" for="message">Choose SenderID</label>
            <div class="row">
              <div class="col text-center">
                <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                  <input class="btn-check" type="checkbox" autocomplete="off" name="title" value="JAIZ BANK" id="jaizbank" />
                  <label class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Auto-fill for JAIZ BANK" data-bs-custom-class="custom-tooltip" for="jaizbank">Jaiz Bank</label>

                  <input class="btn-check" type="checkbox" autocomplete="off" name="title" value="PROVIDUS" id="providus" />
                  <label class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Auto-fill for PROVIDUS" data-bs-custom-class="custom-tooltip" for="providus">Providus</label>

                  <input class="btn-check" type="checkbox" autocomplete="off" name="title" value="PAYREP" id="payrep" />
                  <label class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Auto-fill for PAYREP" for="payrep">Payrep</label>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group mb-2">
            <label class="mb-2 fw-bold" for="message">Enter Phone Numbers</label>
            <textarea id="message" name="message" class="form-control" rows="3" placeholder="Eg: 2348000000090, 2348123456789"></textarea>
          </div>

          <div class="form-group mt-3 text-center">
            <button type="submit" class="btn btn-primary w-100">Schedule SMS</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-xl-6">
    <%- include('./partials/scheduledflash.ejs') %>
    <div class="card shadow">
      <div class="card-body">
        <h1 class="text-start fs-2 mb-2 fw-medium">Scheduled SMS</h1>
        <p class="text-start">Monitor the Status of each Scheduled SMS</p>
        <div class="table-responsive overflow-auto" style="max-height: 563px;">
          <table class="table table-striped">
            <% if (scheduledSms.length === 0) { %>
            <div class="alert alert-info text-center mb-0">No Scheduled SMS</div>
            <% } %>
            <thead class="<%= scheduledSms.length === 0 ? 'hidden' : '' %>">
              <tr>
                <th class="align-middle text-center" scope="col">Day(s)</th>
                <th class="align-middle text-center" scope="col">Interval</th>
                <th class="align-middle text-center" scope="col">Start Time</th>
                <th class="align-middle text-center" scope="col">End Time</th>
                <th class="align-middle text-center" scope="col">SenderID(s)</th>
                <th class="align-middle text-center" scope="col">Phone Number(s)</th>
                <th class="align-middle text-center" scope="col">Status</th>
                <th class="align-middle text-center" scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% scheduledSms.forEach(sms => { %>
              <tr id="task-<%= sms._id %>">
                <% 
									const intervalDisplay = {
										'1': '1 minute(s)',
   									'2': '2 minute(s)',
    								'5': '5 minute(s)',
    								'60': '1 hour(s)',
    								'120': '2 hour(s)',
    								'180': '3 hour(s)'
									}; 
									%>
                <td class="align-middle text-center"><%- sms.day.map(day => ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'][day]).join('<br>') %></td>
                <td class="align-middle text-center"><%= intervalDisplay[sms.interval] %></td>
                <td class="align-middle text-center"><%= sms.startTime %></td>
                <td class="align-middle text-center"><%= sms.endTime %></td>
                <td class="align-middle text-center"><%= sms.senderId.join('\n') %></td>
                <td class="align-middle text-center"><%= sms.receivers.join('\n') %></td>
                <td class="align-middle text-center">
                  <span class="badge <%= sms.status === 'Active' ? 'bg-success' : 'bg-danger' %>"><%= sms.status %></span>
                </td>
                <td class="align-middle text-center">
                  <form action="/oltranz/<%= sms._id %>?_method=DELETE" method="POST">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger btn-sm rounded" data-bs-toggle="modal" data-bs-target="#deleteModal<%= sms._id %>">
                      <i class="bi bi-trash"></i>
                    </button>
                    <!-- Delete Scheduled SMS Modal -->

                  </form>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <!-- <div class="toast-container position-static">
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div id="liveToast" class="toast  show border-0 border-success" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <img src="/images/New MKEL Blue.png" width="24" height="18" class="me-2" alt="Mkel logo">
          <strong class="me-auto">Sent SMS</strong>
          <small>11 mins ago</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          <p class="mb-0">SenderID: Jaiz Bank</p>
          <p class="mb-0">Phone Number: 2348033531332</p>
          <p class="mb-0">Message: Hello, this is a test message</p>
          <p class="mb-0">Status: <span class="badge bg-success">Sent</span></p>
          Hi there! I am a toast.
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class="col">
    <div class="card shadow">
      <div class="card-body">
        <h1 class="text-start fs-2 mb-2 fw-medium">SMS History</h1>
        <p class="text-start">View the history of sent SMS</p>
        <div class="table-responsive">
          <table class="table table-striped">
            <div class="alert alert-info text-center mb-0">No SMS History</div>
            <thead>
              <tr>
                <th class="align-middle text-center" scope="col">SenderID</th>
                <th class="align-middle text-center" scope="col">Phone Number</th>
                <th class="align-middle text-center" scope="col">Message</th>
                <th class="align-middle text-center" scope="col">Status</th>
                <th class="align-middle text-center" scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="align-middle text-center">Jaiz Bank</td>
                <td class="align-middle text-center">2348033531332</td>
                <td class="align-middle text-center">Hello, this is a test message</td>
                <td class="align-middle text-center">
                  <span class="badge bg-success">Sent</span>
                </td>
                <td class="align-middle text-center">2021-10-10 12:00:00</td>
              </tr>
          </table>
        </div>
      </div>
    </div>
  </div> -->

  <!-- 
  <div class="col">
    <div class="card shadow">
      <div class="card-body">
        <h1 class="text-start
        fs-2 mb-2 fw-medium">SMS Statistics</h1>
        <p class="text-start">View the statistics of sent SMS</p>
        <div class="table-responsive">
          <table class="table table-striped">
            <div class="alert alert-info text-center mb-0">No SMS Statistics</div>
            <thead>
              <tr>
                <th class="align-middle text-center" scope="col">SenderID</th>
                <th class="align-middle text-center" scope="col">Total Sent</th>
                <th class="align-middle text-center" scope="col">Total Failed</th>
                <th class="align-middle text-center" scope="col">Total Delivered</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="align-middle text-center">Jaiz Bank</td>
                <td class="align-middle text-center">10</td>
                <td class="align-middle text-center">2</td>
                <td class="align-middle text-center">8</td>
              </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
 -->
</div>